/* font setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
.company-name {
    font-weight:700;
}
.company-nav {
    font-weight:500;
}
.company-button {
    color: #3F87F5;
    background-color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}
.ftr {
    background-color: #0B0D17;
    height: 280px;
    color: white;
}
.pkg-btn {
    color: #3F87F5;
    font-weight: 500;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: rgba(244, 149, 209, .1);
}
.pkg-btn2 {
    color: #3F87F5;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    height: 50px;
    width: 200px;
}
.pkg-pro {
    border-radius: 25px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    background: #3F87F5;
    color: white;
}
.pro-lst {
    background: #3F87F5;
    color: white;
}
.ftr-img img {
    width: 230px;
    height: 100px;
}
@media only screen and (max-width:688px) {
    .company-button {
        color: #3F87F5;
        background-color: #FFFFFF;
        font-size: 8px;
        padding: 2px 5px;
        border-radius: 5px;
        border: none;
    }
    .carusol-title{
        font-size: 16px;
    }
}